@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    /* background: #ffcf5f; */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #afbe00;
    border-radius: 100vh;
    /* border: 3px solid #6c742c; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(18, 20, 20, 0.5);
  }

  .scrollbar::-webkit-scrollbar-corner {
    opacity: 0;
  }
}

* {
  font-family: "Poppins", sans-serif;
}
.page-header {
  font-size: x-large;
  font-weight: 600;
}
