/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    /* background: #ffcf5f; */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #df3f3f;
    border-radius: 100vh;
    /* border: 3px solid #6c742c; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d33fb3;
  }

  .scrollbar::-webkit-scrollbar-corner {
    opacity: 0;
  }
}
