@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    /* background: #ffcf5f; */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #afbe00;
    border-radius: 100vh;
    /* border: 3px solid #6c742c; */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(18, 20, 20, 0.5);
  }

  .scrollbar::-webkit-scrollbar-corner {
    opacity: 0;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

/* .page-header {
  font-size: xx-large;
  font-weight: 600;
  color: #121414;
  opacity: 80%;
} */

.nav-text {
  font-size: medium;
  font-weight: 500;
  color: rgb(29, 31, 31);
}

.text-div:hover {
  color: white;

}

.sprBorderDashed {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23AFBE00FF' stroke-width='4' stroke-dasharray='18' stroke-dashoffset='48' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 6px;
}